body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0 0 1em 0; 
}

a {
  text-decoration: none;

  &:hover, &:active {
    text-decoration: underline; 
  }

  &:hover img {
    border-color: #ccc; 
  }

  img {
    border: 0; 
  }
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  margin: 0 0 1em 0; 
}


h6{
  margin-bottom: 0;
}

h1 a, 
h2 a, 
h3 a, 
h4 a, 
h5 a, 
h6 a {
  color: #444; 
}

caption {
  border-radius: 4px;
  background-color: #f2f2f2; 
}

blockquote {
  border-left: 5px solid #f2f2f2;
  padding-left: 30px;
  margin: 1.5em 1em 1.5em 0;
  p {
    color: #111; 
  } 
}

pre {
  padding: 5px;
  white-space: pre-wrap;
  word-wrap: break-word;
  max-width: 580px; 
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0; 
}

dl {
  margin-bottom: 3em; 
}

dt {
  margin: 0;
  padding: 0;
}

dd {
  margin: 0 0 1em; 
  margin: 0; 
}

input[type="text"], 
input[type="email"], 
input[type="phone"], 
input[type="password"], 
input[type="submit"],
textarea{
  @include border-radius(5px);
}

input {
  &[type="submit"],
  &.submit {
    cursor: pointer;
    background: #333;
    color: white;
    border: 1px solid #0a0a0a;
    padding: 3px;
    font-size: .9em;
    padding-left: 8px;
    padding-right: 8px; 
  }
  &[type="submit"]:active,
  &.submit:active {
    background: #000;
    color: #333;
    border: 1px inset #333; 
  }
  &[type="text"], 
  &[type="email"], 
  &[type="phone"], 
  &[type="password"] {
    border: 1px solid #a9a9a9;
    padding: 6px; 
  } 
}

input:focus {
  outline: none; 
}

select, textarea {
  border: 1px solid #a9a9a9;
  padding: 6px; 
}

textarea {
  height: 160px; 
}

em {
  font-style:italic;
}

address {
  margin:0 0 10px 0;
}

ol,ul{
  list-style: square;
  margin-bottom: 1em;
  ol,ul {
    margin-bottom:0;
  }
}

ol li,
ul li{
  list-style: square;
  margin-left: 1.2em;
}

ol,
ol > li {
  list-style:decimal;
}

.assistive-text{
  display: none;
}

.content-wrapper img{
  max-width: 100%;
  height: auto;
}