.colors_bluegray{

  background: #e9e9e9 url("images/colors/bluegray/gray_repeat.jpg");
  
  #wrapper{
    background: url("images/colors/bluegray/blue_gray_header.jpg") repeat-x top left;
  	min-height: 1000px;
  }
  
  .column h2, 
  .column h3, 
  .column h4, 
  .column h5, 
  .column h6,
  #footer .column a {
  	color: #1a1a1a;
  }
  
  #nav{
    
    a{
    	color: #C3D0DF;
    }
    
    a:hover{
    	color: #EFF6FF;
    }
    
    li:hover a, 
    li.sfhover a{
    	color: #EFF6FF;
    }
  
    li li {
    	background-color: #182A42;
    }
    
    li li:hover{
    	background-color: #233D5F;
    }
    
  }

  #sidebar li a{
  	color: black;
  }
  
  #header{
    
    .search-form{

      .s{
      	color: #fff;
      	background-color: white;
      	background-color: rgba(0,0,0,0.4);
      	@include box-shadow(0 1px 0 #577BAF);
      }
   
      .submit-image{
        background-image: url("images/colors/bluegray/btn_search_submit.png");
      }

    }

    #headimg #desc{
      color: #fff;  
    }
  
  }
  
  #sidebar h2,
  #sidebar h3,
  #sidebar h4,
  #sidebar h5, 
  #sidebar h6 {
  	@include text-shadow(0 1px 1px #fff);
  }
  
  #footer h2,
  #footer h3,
  #footer h4,
  #footer h5, 
  #footer h6 {
  	@include text-shadow(0 1px 0 #fff);
  	font-weight: 200;
  }
  
  #ads_above_footer{
  	background: #bbb;
  }
  
  #footer{
  	background: #eee;
  }
  
  #footer .theme_footer{
  	@include text-shadow(0 1px 0 #fff);
  	border-top: 1px solid #ccc;
  	color: #333;
  }

}