#header {
  background: url("images/glow.png") no-repeat top center;
  position: relative;
  z-index: 900;
  text-align: center;
  margin: 0 0 20px;
  padding: 70px 0 25px;

  #headimg {
    float: left;
    color: white;

    img{
      margin-bottom: 20px;
      display: block;
    }

    #title{
      color: white;
      font-size: 1.9em;
      margin: 0 0 7px;

      a{
        @include transition(100ms all linear);

        &:hover{
          text-decoration: none;
          @include opacity(.6);
        }
      }

    }

    #desc{
      display: block;
      color: #777;
      font-size: 1em;
      margin-bottom: 15px;
    }
  }

  .search-form {
    position: absolute;
    top: -10px;
    right: 0;
    margin: 0;
    padding: 0;
    border: 0; 
  } 
}

#header .search-form {
  text-align: left;
  vertical-align: middle;
  width: 365px;
  text-align: right;
  label {
    color: #777;
    display: inline;
    vertical-align: middle;
    position: relative;
    left: 60px;
    cursor: text; 
  } 
}

#header .search-form {

  .s {
    vertical-align: middle;
    color: white;
    font-size: .8em;
    padding: 7px 25px 7px 7px;
    width: 225px;
    text-indent: 10px;
    background-color: #252525;
    @include border-radius(40px);
    @include box-shadow(0 1px 0 #444);
    border: none; 
  }

  fieldset.hot .s {
    color: white;
    border: 1px solid #DD6126; 
  }

  .submit-image {
    vertical-align: middle;
    position: absolute;
    width: 16px;
    height: 16px;
    text-indent: -9000px;
    display: block;
    background: url("images/btn_search_submit.png") no-repeat center center;
    top: 9px;
    right: 8px;
    @include opacity(.5);
    border: 0;
    cursor: pointer;
    outline: 0;

    &:hover {
      @include opacity(.7);
    }

    &:active {
      @include opacity(1);
    } 
  } 
}

#toolbar form {
  margin: 0;
  padding: 0.1em 2em 0.1em 0em;
  height: 1em; 
}

#toolbar input {
  margin: 1px; 
}

nav.menu{
  clear: right;
  float: right;
  padding-top: 33px;
  position: relative;
}

.sf-menu,
.sf-menu ul { /* all lists */
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 1;
}

.sf-menu{

  & > li > a {
  	display: block;
  	color: #eee;
  	font-size: .94em;
  	text-decoration: none;
  	line-height: 2em;
  	padding-bottom: 10px;
  }

  li { /* all list items */
  	list-style: none;
  }
   
  & > li{
  	float: left;
  	position: relative;
  
    &.has-sub{
    	background: url("images/arrow-down.png") no-repeat bottom center;
    	
    	&:hover{
    	  background: none;
    	} 
    }
  }

   & > li > .sub-menu { /* second-level lists */
  	position: absolute;
  	background: white;
  	padding: 10px;
  	margin-left: -4.05em;
  	border-radius: 5px;
  	top: 32px;
  	width: 10em;
  	left: -999em; /* using left instead of display to hide menus because display: none isn't read by screen readers */
  	@include box-shadow(0 2px 2px rgba(0,0,0,0.2));
  }

  & > li > .sub-menu > li:first-child:after{
    content: "";
  	border-left: 5px solid transparent;
  	border-right: 5px solid transparent;
  	border-bottom: 5px solid #fff;
  	position: absolute;
  	top: -5px;
  	left: 45%;
  }

  & > .sub-menu li,
  & > li > .sub-menu li ul{
    margin-left: 0;
    padding-left: 0;
  }

  
  & > li > .sub-menu a{
    color: #222;
    line-height: 1em;
    font-size: .9em;
    display: block;
    margin: 0;
    width: auto;
    padding: 6px;
    @include transition(.25s all linear);
    
    &:hover{
      background: #f9dd7b;
      text-decoration: none;
    }
  }

  li ul ul,
  li ul ul li{ /* third-and-above-level lists */
  	float: none;
  	position: relative;
  	margin: 0;
  	padding: 0;
  	left: auto;
  	background: none;
  }
  
  li:hover ul, 
  li li:hover ul, 
  li.sfhover ul, 
  li li.sfhover ul { /* lists nested under hovered list items */
	left: auto;
	}

}