$theme-width:95%;
$theme-min-width:830px;
$theme-max-width:1120px;

body{
  color: #444;
  background: #122e56 url("images/black-holes-repeating.jpg") repeat 10px 4px;
}

#wrapper {
  background: url("images/black-background-holes.jpg") repeat-x top left;
  text-align: center;
}

#container,
#header .inner,
#footer .inner{
  width: $theme-width;
  max-width: $theme-max-width;
  min-width: $theme-min-width;
}

#header .inner,
#container{
  margin: 0 auto;
  text-align: left;
}

#sidebar{
  width: 25%;
  float: right;
}

#content {
  float: left;
  width: 75%;
  margin-bottom: 40px;
  background-color: #fff;
  @include border-radius(4px);
  @include box-shadow(0 2px 2px rgba(0,0,0,.16));

  .inner {
    position: relative;
    padding: 40px;
  }
}

.layout_reversed{

  #content{
    float: right;
  }

  #sidebar{
    float: left;
    
    .widget{    
      margin-left: 0;
      margin-right: 20px;
    }
  }

}

.layout_single_column{

  #content{
    width: 100%;
    margin: 0;
  }

  #sidebar{
    display: none;
  }

}